span {
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: lightgray;
	border: 1px solid gray;
	margin: 10px;
	text-align: center;
}

div >  div > span + span {
	color: blue;
}

div > div > span ~ span {
	font-weight: bold;
	color: red;
}